body {
    color: #333333;
    font-family: monospace;
}

h1 {
    margin: 20px 0px 0px 0px;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0px auto;
}
